# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
kernelsrc/nbproject/
.git/
bin/*.bin
bin/*.iso

# Patches
patches/*
!patches/*.*

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Autohell
autom4te.cache/
Makefile

.tags
.project
.cproject
config.log
config.status
EurusOScheck.cppcheck
EurusOScheck-cppcheck-build-dir/
docs/kernel/
.vscode/
isodir/boot/*.bin