# Binaries and config
build/bin/*.bin
build/bin/*.iso
build/bin/*.tar
build/bin/isodir/

# Patches
patches/*
!patches/*.*

# IDE Folders
#.vscode/

# Autohell
autom4te.cache/
Makefile
build/config.h
build/config.log
build/config.status

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.i

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
log.txt

# Git
.git/
