# Binaries and config
build/bin/*.bin
build/bin/*.iso
build/bin/*.tar
build/bin/*.sys
build/bin/isodir/
build/cmake-*/
build/CMakeFiles/
build/toolchain/

tests/build/
Testing/

# Patches and libraries
*/.pc/
lib/openlibm/

# IDE Folders
.idea/
.directory

# Autohell
autom4te.cache/
Makefile
build/config.h
build/config.log
build/config.status
cmake-build-debug-wsl/

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch
*.i

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
logs/
CMakeCache.txt
**/bochs/bochsout.txt
**/bochs/serial.txt

# Git
.git/
