<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>This is LiquiDOS</h2>
                <p></p>
                <ul class="actions">
                    <li><a href="#learnmore" class="page-scroll button big special">Source Code</a></li>
                    <li><a href="#learnmore" class="page-scroll button big alt">Learn More</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>

</html>
